<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>{{ _mount.name }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ rclone_path_bin }}</string>
        <string>mount</string>
        <string>{{ _mount.remote }}</string>
        <string>{{ _mount.local }}</string>
{% if _mount.flags is defined and _mount.flags | length > 0 %}
{%   for __flag in _mount.flags %}
        <string>{{ __flag }}</string>
{%   endfor %}
{% endif %}
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>

