<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ rclone_path_bin | join(':') | e }}:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>Label</key>
    <string>{{ _mount.name | e }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>rclone</string>
        <string>nfsmount</string>
        <string>{{ _mount.remote | e }}</string>
        <string>{{ _mount.mountpoint | e }}</string>
{% if _mount.flags is defined and _mount.flags | length > 0 %}
{%   for __flag in _mount.flags %}
        <string>{{ __flag | e }}</string>
{%   endfor %}
{% endif %}
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
