# {{ ansible_managed }}

{% if irssi_channels | length > 0 %}
channels = (
{%   for channel in irssi_channels | sort %}
  {
{%     for key, value in channel.items() %}
    {{ key }} = "{{ value }}";
{%     endfor %}
  }{% if not loop.last %},{% endif %}
{%   endfor %}

);
{% endif %}

{% if irssi_chatnets | length > 0 %}
chatnets = {
{%   for chatnet in irssi_chatnets.keys() | sort %}
  {{ chatnet }} = {
{%     for key, value in irssi_chatnets[chatnet].items() %}
    {{ key }} = "{{ value }}";
  }{% if not loop.last %},{% else %};{% endif %}
{%     endfor %}
{%   endfor %}

};
{% endif %}

{% if irssi_ignores | length > 0 %}
ignores = (
{%   for ignore in irssi_ignores | sort %}
  {
{%     for key, value in ignore.items() %}
    {{ key }} = "{{ value }}";
{%     endfor %}
  }{% if not loop.last %},{% endif %}
{%   endfor %}

);
{% endif %}

{% if irssi_servers | length > 0 %}
servers = (
{%   for server in irssi_servers | sort %}
  {
{%     for key, value in server.items() %}
    {{ key }} = "{{ value }}";
{%     endfor %}
  }{% if not loop.last %},{% endif %}
{%   endfor %}

);
{% endif %}

settings = {
  core = {
    nick = "{{ irssi_settings.core.nick }}";
    real_name = "{{ irssi_settings.core.real_name }}";
    user_name = "{{ irssi_settings.core.user_name }}";
  };
  "fe-text" = { actlist_sort = "refnum"; };
{% if irssi_theme is not none %}
  "fe-common/core" = { theme = "{{ irssi_theme|basename|splitext|first }}"; };
{% endif %}
};
